img {
  max-width: 100%;
  /* height: auto; */
  width: auto;
  max-height: 300px;
}

.image-container{
  /* width:clamp(200px, 25%, 600px); */
  /* height:clamp(50px, 100%, 100px); */
}

.highlight{
  font-weight: bold;
}