* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: #414142;
  line-height: 1.5em;
  padding: 1.5em;
  margin:0;
}

h1,
h2,
h3,
h4 {
  margin: 2.5rem 0 1.5rem 0;
  line-height: 1.25;
  color: #333;
}

img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.image-container {
  /* width:clamp(200px, 25%, 600px); */
  /* height:clamp(50px, 100%, 100px); */
  cursor: pointer;
}

.highlight {
  font-weight: bold;
}

.central-content {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .central-content {
    max-width: 42em;
  }
}

.full-width-animation {
  width: 80%;
  margin: 0 auto;
  overflow: scroll;
}

.sidebar {
  position: fixed;
  top: 20px;
  left: 0;
  font-size: 90%;
  line-height: 1.5;
  margin-left: 1em;
  border-right: 1px solid #ccc;
  padding: 1em;
  z-index: 10;
}

@media (max-width: 768px) {
  .sidebar{
    transform: translateX(-100%);
    border-right: 0px solid #ccc;
  }
  .sidebar.active {
    transform: translateX(0); /* Slide in */
  }
}

.sidebar li.active a {
  color: #333;
  font-weight: 500;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar a {
  color: #ccc;
  text-decoration: none;
}

.sidebar a:hover {
  color: #666;
}

.callout {
  background-color: #f5f5f5; /* light gray */
  border-left: 4px solid #ccc; /* optional accent */
  padding: 12px;
  border-radius: 8px;
  margin: 1em 0;
}

.central-content a {
  color: #fa6432;
  text-decoration: none;
}

.central-content a:hover {
  text-decoration: underline;
}

/* Mathjax override */
.MathJax_ref {
  fill: #414142;
  stroke: #414142;
}
